* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px 0;
  background: #090a0a80;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
